{% extends 'base.html.twig' %}
{% block title %}Hello !{% endblock %}
{% block body %}

    <section class="tout_tout">
        <!-- Clients Block -->

        <section class="crumina-module crumina-clients">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
                        <a class="clients-item" href="#">
                            <img loading="lazy" src="assets/html/img/client1.webp" alt="logo" width="167" height="42">
                        </a>
                    </div>
                    <div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
                        <a class="clients-item" href="#">
                            <img loading="lazy" src="img/client2.webp" alt="logo" width="161" height="30">
                        </a>
                    </div>
                    <div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
                        <a class="clients-item" href="#">
                            <img loading="lazy" src="img/client3.webp" alt="logo" width="154" height="34">
                        </a>
                    </div>
                    <div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
                        <a class="clients-item" href="#">
                            <img loading="lazy" src="img/client4.webp" alt="logo" width="136" height="34">
                        </a>
                    </div>
                    <div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
                        <a class="clients-item" href="#">
                            <img loading="lazy" src="img/client5.webp" alt="logo" width="150" height="35">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- ... end Clients Block -->


        <!-- Section Img Scale Animation -->

        <section class="align-center pt80 section-move-bg-top img-scale-animation">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
                        <img class="main-img" src="img/scale1.webp" alt="screen" data-aos="zoom-in-down" data-aos-delay="200" data-aos-duration="500" width="760" height="450">
                    </div>
                </div>

                <img class="first-img1" alt="img" src="img/scale2.webp" data-aos="zoom-in-down" data-aos-delay="700" data-aos-duration="500" width="140" height="187">
                <img class="second-img1" alt="img" src="img/scale3.webp" data-aos="zoom-in-down" data-aos-delay="1000" data-aos-duration="500" width="242" height="125">
                <img class="third-img1" alt="img" src="img/scale4.webp" data-aos="zoom-in-down" data-aos-delay="1300" data-aos-duration="500" width="391" height="134">
            </div>
            <div class="content-bg-wrap bg-section2"></div>
        </section>

        <!-- ... end Section Img Scale Animation -->

        <section class="medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <img loading="lazy" src="img/icon-fly.webp" alt="screen" width="538" height="289">
                    </div>

                    <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Why Join <span class="c-primary">Olympus Social Network</span>?</h2>
                            <p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Meet New People <span class="c-primary">all over the World</span></h2>
                            <p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                            </p>
                        </div>
                    </div>

                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <img loading="lazy" src="img/image1.webp" alt="screen" width="579" height="334">
                    </div>
                </div>
            </div>
        </section>


        <section class="medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <img loading="lazy" src="img/image2.webp" alt="screen" width="588" height="262">
                    </div>

                    <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">The Best UI/UX and <span class="c-primary">Awesome Features</span></h2>
                            <p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Find People with <span class="c-primary">Your Same Interests</span></h2>
                            <p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                            </p>
                        </div>
                    </div>

                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <img loading="lazy" src="img/image3.webp" alt="screen" width="548" height="351">
                    </div>
                </div>
            </div>
        </section>



        <!-- Planer Animation -->

        <section class="medium-padding120 bg-section3 background-cover planer-animation">
            <div class="container">
                <div class="row mb60">
                    <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading align-center">
                            <div class="heading-sup-title">SOCIAL NETWORK</div>
                            <h2 class="h1 heading-title">Community Reviews</h2>
                            <p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="swiper-container pagination-bottom" data-show-items="3">
                        <div class="swiper-wrapper">
                            <div class="ui-block swiper-slide">

                                
                                <!-- Testimonial Item -->
                                
                                <div class="crumina-module crumina-testimonial-item">
                                    <div class="testimonial-header-thumb"></div>
                                
                                    <div class="testimonial-item-content">
                                
                                        <div class="author-thumb">
                                            <img loading="lazy" src="img/avatar3.webp" alt="author" width="92" height="92">
                                        </div>
                                
                                        <h3 class="testimonial-title">Amazing Community</h3>
                                
                                        <ul class="rait-stars">
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-null"></use></svg>
                                            </li>
                                        </ul>
                                
                                        <p class="testimonial-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco.
                                        </p>
                                
                                        <div class="author-content">
                                            <a href="#" class="h6 author-name">Mathilda Brinker</a>
                                            <div class="country">Los Angeles, CA</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- ... end Testimonial Item -->
                            </div>

                            <div class="ui-block swiper-slide">

                                
                                <!-- Testimonial Item -->
                                
                                <div class="crumina-module crumina-testimonial-item">
                                    <div class="testimonial-header-thumb"></div>
                                
                                    <div class="testimonial-item-content">
                                
                                        <div class="author-thumb">
                                            <img loading="lazy" src="img/avatar17.webp" alt="author" width="92" height="92">
                                        </div>
                                
                                        <h3 class="testimonial-title">This is the Best Social Network ever!</h3>
                                
                                        <ul class="rait-stars">
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                        </ul>
                                
                                        <p class="testimonial-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                            nulla pariatur laborum.
                                        </p>
                                
                                        <div class="author-content">
                                            <a href="#" class="h6 author-name">Marina Valentine</a>
                                            <div class="country">Long Island, NY</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- ... end Testimonial Item -->

                            </div>

                            <div class="ui-block swiper-slide">

                                
                                <!-- Testimonial Item -->
                                
                                <div class="crumina-module crumina-testimonial-item">
                                    <div class="testimonial-header-thumb"></div>
                                
                                    <div class="testimonial-item-content">
                                
                                        <div class="author-thumb">
                                            <img loading="lazy" src="img/avatar1.webp" alt="author" width="92" height="92">
                                        </div>
                                
                                        <h3 class="testimonial-title">Incredible Design!</h3>
                                
                                        <ul class="rait-stars">
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-full"></use></svg>
                                            </li>
                                            <li>
                                                <svg class="star-icon" width="10" height="10"><use xlink:href="#olymp-star-null"></use></svg>
                                            </li>
                                        </ul>
                                
                                        <p class="testimonial-message">Sed ut perspiciatis unde omnis iste natus error sit
                                            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                            illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                
                                        <div class="author-content">
                                            <a href="#" class="h6 author-name">Nicholas Grissom</a>
                                            <div class="country">San Francisco, CA</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- ... end Testimonial Item -->
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <img loading="lazy" src="img/planer.webp" alt="planer" class="planer" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" width="356" height="140">
        </section>

        <!-- ... end Section Planer Animation -->

        <section class="medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <img loading="lazy" src="img/image4.webp" alt="screen" width="597" height="601">
                    </div>

                    <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="h1 heading-title">Release all the Power with the <span class="c-primary">Olympus App!</span></h2>
                            <p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        
                        <ul class="list--styled">
                            <li>
                                <svg width="20" height="20"><use xlink:href="#olymp-check-circle"></use></svg>
                                Build your profile in just minutes, it’s that simple!
                            </li>
                            <li>
                                <svg width="20" height="20"><use xlink:href="#olymp-check-circle"></use></svg>
                                Unlimited messaging with the best interface.
                            </li>
                        </ul>

                        <a href="#" class="btn btn-market">
                            <img class="icon" src="svg-icons/apple-logotype.svg" alt="app store">
                            <div class="text">
                                <span class="sup-title">AVAILABLE ON THE</span>
                                <span class="title">App Store</span>
                            </div>
                        </a>

                        <a href="#" class="btn btn-market">
                            <img class="icon" src="svg-icons/google-play.svg" alt="google">
                            <div class="text">
                                <span class="sup-title">ANDROID APP ON</span>
                                <span class="title">Google Play</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <!-- Section Subscribe Animation -->

        <section class="medium-padding100 subscribe-animation bg-users">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading c-white custom-color">
                            <h2 class="h1 heading-title">Olympus Newsletter</h2>
                            <p class="heading-text">Subscribe to be the first one to know about updates, new features and much more!
                            </p>
                        </div>

                        
                        <!-- Subscribe Form  -->
                        
                        <form class="form-inline subscribe-form" method="post">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Enter your email</label>
                                <input class="form-control bg-white" placeholder="" type="email">
                            </div>
                        
                            <button class="btn btn-blue btn-lg">Send</button>
                        </form>
                        
                        <!-- ... end Subscribe Form  -->

                    </div>
                </div>

                <img loading="lazy" src="img/paper-plane.webp" alt="plane" class="plane" data-aos="fade-right" data-aos-delay="200" data-aos-duration="700" width="387" height="316">
            </div>
        </section>

        <!-- ... end Section Subscribe Animation -->
        <section class="medium-padding120">
            <div class="container">
                <div class="row mb60">
                    <div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
                        <div class="crumina-module crumina-heading align-center">
                            <div class="heading-sup-title">OLYMPUS BLOG</div>
                            <h2 class="h1 heading-title">Latest News</h2>
                            <p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

                        <!-- Post -->
                        
                        <article class="hentry blog-post">
                        
                            <div class="post-thumb">
                                <img loading="lazy" src="img/post1.webp" alt="photo" width="370" height="261">
                            </div>
                        
                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">THE COMMUNITY</a>
                                <a href="#" class="h4 post-title">Here’s the Featured Urban photo of August! </a>
                                <p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>
                        
                                <div class="author-date">
                                    by
                                    <a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
                                    <div class="post__date">
                                        <time class="published" datetime="2017-03-24T18:18">
                                            - 7 hours ago
                                        </time>
                                    </div>
                                </div>
                        
                                <div class="post-additional-info inline-items">
                                    <div class="friends-harmonic-wrap">
                                        <ul class="friends-harmonic">
                                            <li>
                                                <a href="#">
                                                    <img loading="lazy" src="img/icon-chat27.webp" alt="icon" width="20" height="20">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img loading="lazy" src="img/icon-chat2.webp" alt="icon" width="20" height="20">
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="names-people-likes">
                                            26
                                        </div>
                                    </div>
                        
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon">
                                                <use xlink:href="#olymp-speech-balloon-icon"></use>
                                            </svg>
                                            <span>0</span>
                                        </a>
                                    </div>
                        
                                </div>
                            </div>
                        
                        </article>
                        
                        <!-- ... end Post -->
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

                        <!-- Post -->
                        
                        <article class="hentry blog-post">
                        
                            <div class="post-thumb">
                                <img loading="lazy" src="img/post2.webp" alt="photo" width="368" height="260">
                            </div>
                        
                            <div class="post-content">
                                <a href="#" class="post-category bg-primary">OLYMPUS NEWS</a>
                                <a href="#" class="h4 post-title">Olympus Network added new photo filters!</a>
                                <p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>
                        
                                <div class="author-date">
                                    by
                                    <a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
                                    <div class="post__date">
                                        <time class="published" datetime="2017-03-24T18:18">
                                            - 12 hours ago
                                        </time>
                                    </div>
                                </div>
                        
                                <div class="post-additional-info inline-items">
                        
                                    <div class="friends-harmonic-wrap">
                                        <ul class="friends-harmonic">
                                            <li>
                                                <a href="#">
                                                    <img loading="lazy" src="img/icon-chat4.webp" alt="icon" width="20" height="20">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img loading="lazy" src="img/icon-chat26.webp" alt="icon" width="20" height="20">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img loading="lazy" src="img/icon-chat16.webp" alt="icon" width="20" height="20">
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="names-people-likes">
                                            82
                                        </div>
                                    </div>
                        
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon">
                                                <use xlink:href="#olymp-speech-balloon-icon"></use>
                                            </svg>
                                            <span>14</span>
                                        </a>
                                    </div>
                        
                                </div>
                            </div>
                        
                        </article>
                        
                        <!-- ... end Post -->
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

                        <!-- Post -->
                        
                        <article class="hentry blog-post">
                        
                            <div class="post-thumb">
                                <img loading="lazy" src="img/post3.webp" alt="photo" width="370" height="261">
                            </div>
                        
                            <div class="post-content">
                                <a href="#" class="post-category bg-purple">INSPIRATION</a>
                                <a href="#" class="h4 post-title">Take a look at these truly awesome worspaces</a>
                                <p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>
                        
                                <div class="author-date">
                                    by
                                    <a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
                                    <div class="post__date">
                                        <time class="published" datetime="2017-03-24T18:18">
                                            - 2 days ago
                                        </time>
                                    </div>
                                </div>
                        
                                <div class="post-additional-info inline-items">
                        
                                    <div class="friends-harmonic-wrap">
                                        <ul class="friends-harmonic">
                                            <li>
                                                <a href="#">
                                                    <img loading="lazy" src="img/icon-chat28.webp" alt="icon" width="20" height="20">
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="names-people-likes">
                                            0
                                        </div>
                                    </div>
                        
                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon">
                                                <use xlink:href="#olymp-speech-balloon-icon"></use>
                                            </svg>
                                            <span>22</span>
                                        </a>
                                    </div>
                        
                                </div>
                            </div>
                        
                        </article>
                        
                        <!-- ... end Post -->
                    </div>
                </div>
            </div>
        </section>


        <!-- Section Call To Action Animation -->

        <section class="align-right pt160 pb80 section-move-bg call-to-action-animation">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
                        <a href="#" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#registration-login-form-popup">Start Making Friends Now!</a>
                    </div>
                </div>
            </div>
            <img class="first-img" alt="guy" src="img/guy.webp" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" width="297" height="254">
            <img class="second-img" alt="rocket" src="img/rocket1.webp" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500">
            <div class="content-bg-wrap bg-section1"></div>
        </section>

        <!-- ... end Section Call To Action Animation -->


        <div class="modal fade" id="registration-login-form-popup" tabindex="-1" role="dialog" aria-labelledby="registration-login-form-popup" aria-hidden="true">
            <div class="modal-dialog window-popup registration-login-form-popup" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>
                    <div class="modal-body">
                        <div class="registration-login-form">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="registration-form-tabs1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="login1-tab" data-bs-toggle="tab" href="#login1" role="tab" aria-controls="login1" aria-selected="true">
                                        <svg class="olymp-login-icon"><use xlink:href="#olymp-login-icon"></use></svg>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile1-tab" data-bs-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">
                                        <svg class="olymp-register-icon"><use xlink:href="#olymp-register-icon"></use></svg>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" id="registration-form-tabs-conten1">
                                <div class="tab-pane fade show active" id="login1" role="tabpanel" aria-labelledby="login1-tab">
                                    <div class="title h6">Register to Olympus</div>
                                    <form class="content">
                                        <div class="row">
                                            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">First Name</label>
                                                    <input class="form-control" placeholder="" type="text">
                                                </div>
                                            </div>
                                            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last Name</label>
                                                    <input class="form-control" placeholder="" type="text">
                                                </div>
                                            </div>
                                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Your Email</label>
                                                    <input class="form-control" placeholder="" type="email">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Your Password</label>
                                                    <input class="form-control" placeholder="" type="password">
                                                </div>

                                                <div class="form-group date-time-picker label-floating">
                                                    <label class="control-label">Your Birthday</label>
                                                    <input name="datetimepicker" value="10/24/1984" />
                                                    <span class="input-group-addon">
                                                                <svg class="olymp-calendar-icon"><use xlink:href="#olymp-calendar-icon"></use></svg>
                                                            </span>
                                                </div>

                                                <div class="form-group label-floating is-select">
                                                    <label class="control-label">Your Gender</label>
                                                    <select class="form-select">
                                                        <option value="MA">Male</option>
                                                        <option value="FE">Female</option>
                                                    </select>
                                                </div>

                                                <div class="remember">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input name="optionsCheckboxes" type="checkbox">
                                                            I accept the <a href="#">Terms and Conditions</a> of the website
                                                        </label>
                                                    </div>
                                                </div>

                                                <a href="#" class="btn btn-purple btn-lg full-width">Complete Registration!</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile1-tab">
                                    <div class="title h6">Login to your Account</div>
                                    <form class="content">
                                        <div class="row">
                                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Your Email</label>
                                                    <input class="form-control" placeholder="" type="email">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Your Password</label>
                                                    <input class="form-control" placeholder="" type="password">
                                                </div>

                                                <div class="remember">

                                                    <div class="checkbox">
                                                        <label>
                                                            <input name="optionsCheckboxes" type="checkbox">
                                                            Remember Me
                                                        </label>
                                                    </div>
                                                    <a href="#" class="forgot" data-bs-toggle="modal" data-bs-target="#restore-password">Forgot my Password</a>
                                                </div>

                                                <a href="#" class="btn btn-lg btn-primary full-width">Login</a>

                                                <div class="or"></div>

                                                <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><svg width="16" height="16"><use xlink:href="#olymp-facebook-icon"></use></svg>Login with Facebook</a>

                                                <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><svg width="16" height="16"><use xlink:href="#olymp-twitter-icon"></use></svg>Login with Twitter</a>


                                                <p>Don’t you have an account? <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Window-popup Restore Password -->

        <div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true">
            <div class="modal-dialog window-popup restore-password-popup" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>

                    <div class="modal-header">
                        <h6 class="title">Restore your Password</h6>
                    </div>

                    <div class="modal-body">
                        <form  method="get">
                            <p>Enter your email and click the send code button. You’ll receive a code in your email. Please use that
                                code below to change the old password for a new one.
                            </p>
                            <div class="form-group label-floating">
                                <label class="control-label">Your Email</label>
                                <input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
                            </div>
                            <button class="btn btn-purple btn-lg full-width">Send me the Code</button>
                            <div class="form-group label-floating">
                                <label class="control-label">Enter the Code</label>
                                <input class="form-control" placeholder="" type="text" value="">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Your New Password</label>
                                <input class="form-control" placeholder="" type="password" value="olympus">
                            </div>
                            <button class="btn btn-primary btn-lg full-width">Change your Password!</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- ... end Window-popup Restore Password -->


        <!-- Window Popup Main Search -->

        <div class="modal fade" id="main-popup-search" tabindex="-1" role="dialog" aria-labelledby="main-popup-search" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered window-popup main-popup-search" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>
                    <div class="modal-body">
                        <form class="form-inline search-form" method="post">
                            <div class="form-group label-floating">
                                <label class="control-label">What are you looking for?</label>
                                <input class="form-control bg-white" placeholder="" type="text" value="">
                            </div>

                            <button class="btn btn-purple btn-lg">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ... end Window Popup Main Search -->
    </section>

{% endblock %}